@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');



:root{
    --dark-blue: #141922;
	--dark-gray: #282828;
	--sidebar-color: #000000;
	--green: #adff2f;
	--gray: #7d7f84;
	--sidabar-width: 200px;
	--bottombar-height: 90px;
}

html{
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
menu,
li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
    max-height: 100%;
}

hr{
    border: 0.5px solid gray;
}

.flex-container{
    /* display: flex; */
    /* flex-direction: row; */
    height: 100vh;
}

.vertical--split{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.horizontal--split{
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    overflow: hidden;
}


/* SIDEBAR SECTION */

.sidebar{
    /* border: 5px solid red; */
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 5px 12px 5px;
    gap: 10px;
    color: gray;
    font-size: 12px;
}

.logo__s{
    display: none;
}

.sidebar__widget {
	/* padding: 10px; */
	/* border: 2px solid orange; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin: 15px 0 15px; 
}

/* .sidebar__menu__home img{
    display: block;
    margin-left: -12px;
    padding-left: 10px;
    border-left: 2px solid #ADFF2F;
    color: white;
} */

/* .sidebar__menu__home,
.sidebar__menu__search,
.sidebar__menu__library::before{
    content: "";
    background-color: #adff2f;
    height: 100%;
    width: 3px;
    display: block;
} */

.sidebar__menu__home,
.sidebar__menu__search,
.sidebar__menu__library {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar__widget.logo img{
    height: 34px;
}

.sidebar__widget.sidebar__menu img{
    height: 22px;
}

.sidebar__widget.app-install {
	margin-top: auto;
}

.playlist h1{
    font-size: 10px;
    font-weight: bold;
}


.list-playlist{
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: gray;
}

.add-playlist{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 10px; 
    color: white;
}

.add-playlist i{
    font-size: 37px;
}

.app-install{
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    margin: 3px 0;
}

/* .app-install::after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: gray;
} */

.app-install h1{
    font-size: 12px;
}

.app-install img{
    height: 25px;
}

/* .user-profile::before{
    content: "";
    height: 1px;
    width: 100%;
    background-color: gray;
} */

.user-profile{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: white;
    font-size: 8px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.user-profile img{
    background-color: gray;
    height: 25px;
    border-radius: 999px;
    object-fit: cover;
    aspect-ratio: 1/1;
}


.horizontal--split>.sidebar{
    width: var(--sidabar-width);
    flex-shrink: 0;
    overflow: hidden;
    /* height: calc(100vh - 90px); */
}





                    /* MEDIAQUERY SIDEBAR */

                    @media screen and (max-width: 553px){
                        .horizontal--split>.sidebar{
                            width: 40px;
                        }

                        .logo__normal{
                            display: none;
                        }

                        .logo__s{
                            display: block;
                            margin: 0 auto;
                        }

                        .sidebar{
                            padding: 5px 6px 5px;
                        }

                        .text{
                            display: none;
                        }
                            

                        .sidebar__widget span h1 {
                            display: none;
                        }

                        /* .sidebar__menu__home {
                            margin-left: -6px;
                            padding-left: 3px;
                        } */

                        .playlist{
                            display: none;
                        }
                    }



/* MAIN SECTION */

.vertical--split>.main{
    flex-grow: 1;
}

.horizontal--split>.main__horizontal{
    flex-grow: 1;
    overflow-y: auto;
    background-color: #141922;
}

.main__header{
    background-color: #080B12;
    opacity: 0.7;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.main__header a{
    border: 2px solid white;
    border-radius: 999px;
    padding: 8px 32px;
    font-size: 10px;
}



/* PLAYER SECTION */

.song-preview,
.player-wrapper,
.audio-controls{
    padding: 12px 0;
}

.vertical--split>.player{
    height: var(--bottombar-height);
    flex-shrink: 0;

}

.player{
    /* border: 5px solid blue; */
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.song-preview{
    display: flex;
    flex-basis: var(--sidabar-width);
    justify-content: space-between;
}

.song__info>p,
.song__options{
    color: grey;
}

.song__desc{
    display: flex;
    margin-right: 1px;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    flex-shrink: 0;

    
}

.song__desc>img{
    /* scale: 0.2; */
    /* padding: 10px; */
    display: flex;
    height: 42px;
	aspect-ratio: 1/1;
	object-fit: cover;
	object-position: center;
    justify-content: center;
    margin-right: 3px;
}

.song__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
}

.song__options{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.player-wrapper{
    flex-basis: 34%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 20px;
}

.player__command{
    display: flex;
    justify-content: center;
    /* gap: 30px; */
    font-size: 18px;
    align-items: center;
}


.player__command .backward{
    margin: 0 15px;
}

.player__command .forward{
    margin: 0 15px;
}

.player__command>.play{
    font-size: 36px;
    margin: 0 10px;
}

.audio-controls{
    flex-basis: var(--sidabar-width);
    display: flex;
    align-items: center;
    gap: 10px;
}

.player__progress{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
}

.progress-bar-container{
    flex-grow: 1;
    background-color: gray;
    height: 3px;
    margin: 0 20px;
    border-radius: 100px;
}

.progress__bar{
    height: 3px;
    background-color: white;
    width: 25%;
    border-radius: 100px;
}

.audio-bar-container{
    flex-grow: 0.9;
    background-color: gray;
    height: 3px;
    /* margin: 0 20px; */
    border-radius: 100px;
}

.audio__bar{
    height: 3px;
    background-color: white;
    width: 25%;
    border-radius: 100px;
}


                    /* MEDIAQUERY PLAYER */
                    @media screen and (max-width:640px){
                        .song__options{
                            flex-direction: column;
                            justify-content: center;
                        }
                    }






                

