:root{
    --dark-blue: #141922;
	--dark-gray: #282828;
	--sidebar-color: #000000;
	--green: #adff2f;
	--gray: #7d7f84;
	--sidabar-width: 200px;
	--bottombar-height: 90px;
}

html{
    color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
menu,
li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.flex-container{
    /* display: flex; */
    /* flex-direction: row; */
    height: 100vh;
}

.vertical--split{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.horizontal--split{
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    overflow: hidden;
}

/* SIDEBAR SECTION */
.sidebar{

    /* border: 5px solid red; */
    background-color: black;
}

.horizontal--split>.sidebar{
    width: var(--sidabar-width);
    flex-shrink: 0;
    overflow: hidden;
    /* height: calc(100vh - 90px); */
}

                    /* MEDIAQUERY SIDEBAR */

                    @media screen and (max-width: 553px){
                        .horizontal--split>.sidebar{
                            width: 40px;
                        }
                    }



/* MAIN SECTION */

.vertical--split>.main{
    flex-grow: 1;
}

.horizontal--split>.main__horizontal{
    flex-grow: 1;
    overflow-y: auto;
    background-color: #141922;

}


/* PLAYER SECTION */

.song-preview,
.player-wrapper,
.audio-controls{
    padding: 12px 0;
}

.vertical--split>.player{
    height: var(--bottombar-height);
    flex-shrink: 0;

}

.player{
    /* border: 5px solid blue; */
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.song-preview{
    display: flex;
    flex-basis: var(--sidabar-width);
    justify-content: space-between;
}

.song__info>p,
.song__options{
    color: grey;
}

.song__desc{
    display: flex;
    margin-right: 1px;
    
}

.song__desc>img{
    /* scale: 0.2; */
    display: flex;
    padding: 10px;
}

.song__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
}

.song__options{
    display: flex;
    align-items: center;
    gap: 10px;
}

.player-wrapper{
    flex-basis: 34%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 20px;
}

.player__command{
    display: flex;
    justify-content: center;
    /* gap: 30px; */
    font-size: 18px;
    align-items: center;
}


.player__command .backward{
    margin: 0 15px;
}

.player__command .forward{
    margin: 0 15px;
}

.player__command>.play{
    font-size: 36px;
    margin: 0 10px;
}

.audio-controls{
    flex-basis: var(--sidabar-width);
    display: flex;
    align-items: center;
    gap: 16px;
}

.player__progress{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
}

.progress-bar-container{
    flex-grow: 1;
    background-color: gray;
    height: 3px;
    margin: 0 20px;
    border-radius: 100px;
}

.progress__bar{
    height: 3px;
    background-color: white;
    width: 25%;
    border-radius: 100px;
}

.audio-bar-container{
    flex-grow: 0.9;
    background-color: gray;
    height: 3px;
    /* margin: 0 20px; */
    border-radius: 100px;
}

.audio__bar{
    height: 3px;
    background-color: white;
    width: 25%;
    border-radius: 100px;
}


                    /* MEDIAQUERY PLAYER */
                    @media screen and (max-width:640px){
                        .song__options{
                            flex-direction: column;
                            justify-content: center;
                        }
                    }






                

